module.exports = {
    TwitterAuth: [
        {
            account: 'finereli',
            name: 'backup-01',
            consumer_key: '', // API key
            consumer_secret: '', // API secret
            bearer_token: '',
        },
        {
            account: 'finereli',
            name: 'backup-02',
            consumer_key: '',
            consumer_secret: '',
            bearer_token: '',
        },
    ],
    TwitterV2Auth: {
        bearer_token: '',
    },
    SMTP: {
        'host': '',
        'port': 587,
        'user': '',
        'password': '',
    }
}